<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Contacto</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">	
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> 
</head>
<body>
    <div class="topnav">        
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Regresar</a>
        
    </div>
    <main>
        <div class="intro">Cuenta conmigo</div>
        <div class="tagline">
            ¿Necesitas un sistema para administrar tu negocio<br>
            o un sitio web personal o para tu empresa?<br><br>
            ¿Quieres desarrollar una idea?<br><br>
            ¿Quieres invitarme a un proyecto?
            
        </div>
        

        <div class="icons-social">
            <a target="_blanck" href="https://wa.me/527712200410?text=Hola" style="text-decoration: none;">
                <i class="fab fa-whatsapp"></i>
            </a>
			<a target="_blank" href="https://github.com/Juan-jo"><i class="fab fa-github"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/joanjo"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://www.instagram.com/juanjoh.mtz/"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/juanjo.dx.7"><i class="fab fa-facebook"></i></a>
        </div>    
              
    </main>
</body>
</html>>