<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JuanJo</title>
	<link rel="icon" href="favicon.ico" type="image/png" />
	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">	
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> 
</head>
<body>
    <div class="topnav">        
        <a style="float: left;" href="#contacto">Contacto</a>
        <a style="float: left;" href="#acerca">Acerca</a>    
    </div>

	<main>
        <img src="{{url_for('static', filename='avatar.svg')}}" />
		<div class="intro">¡Soy Juanjo!</div>
        <div class="tagline">Apasionado al desarrollo de software</div>        
        <!--He desarrollado proyectos con distintos lenguajes y plataformas en la nube | Google Cloud Platform | DigitalOcean | Python | Node Js | DotNet | etc-->
        <!--Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands-->
		<div class="icons-social">
			<a target="_blank" href="https://github.com/Juan-jo"><i class="fab fa-github"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/joanjo"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://www.instagram.com/juanjoh.mtz/"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/juanjo.dx.7"><i class="fab fa-facebook"></i></a>
        </div>        
	</main>
</body>
</html>
